Repository d-kimuson/type-predicates-generator: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, eslint

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm prettier --write --ignore-unknown --cache {staged_files}
        git add {staged_files}
    cspell:
      glob: "*.{ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --gitignore --cache {staged_files}
    eslint:
      glob: "*.{ts,mts,mcs}"
      run: |
        eslint --cache --fix {staged_files}
        git add {staged_files}

prepare-commit-msg:
  parallel: true
  scripts:
    "commitizen.sh":
      interactive: true
      runner: sh

ci(main): pnpm のセットアップ追加した
  .github/workflows/main.yml
Due: prettier, cspell

chore(*): tsup を使ったビルドに変更する
  .eslintignore
  .eslintrc.cjs
  .npmignore
  cspell.json
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/compiler-api/compiler-api-handler.test.ts
  src/compiler-api/compiler-api-handler.ts
  src/compiler-api/program.test.ts
  src/generate/generate-type-predicates.ts
  src/generate/index.ts
  src/index.ts
  tsconfig.cli.json
  tsconfig.json
  tsconfig.src.json
  tsconfig.test.json
  tsup.config.ts
  vitest.config.ts
Due: prettier, cspell, eslint

chore(*): 使ってないパッケージを削除した
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

remove tests
  tests/jest.test.ts
Due: prettier, cspell, eslint

使ってないパッケージをしばく
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

設定ファイルは esint 無効にする
  .eslintignore
Due: none

こんなんでチェックできたりしない？
  .github/workflows/check-installation.yml
  cspell.json
  example/package.json
Due: prettier, cspell

add publint
  cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

add np
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore(release): 0.3.4
  CHANGELOG.md
  package.json
Due: prettier, cspell

add temporary release script
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  tmp_release.sh
Due: prettier, cspell

chore(release): 0.4.1
  CHANGELOG.md
  package.json
Due: prettier, cspell

update release script
  tmp_release.sh
Due: none

publint は build 後じゃないとチェックできないので ci に持ってく
  .github/workflows/main.yml
  package.json
Due: prettier, cspell

リリース整備する
  .gitignore
  package.json
  scripts/prepublish.sh
  tmp_release.sh
Due: prettier, cspell

ci(check-installation): 毎月一応 latest が動くかを任意の package manager でテストする
  .github/workflows/check-installation.yml
Due: prettier, cspell

ci(check-instalattion): check only pnpm
  .github/workflows/check-installation.yml
Due: prettier, cspell
